body {
  background-size: cover;
  height: '100%';
  font-family: 'Unbounded', cursive;
}

.providerImage {}

.headerImage {
  width: 100%;
  height: 25vh;
  border-radius: 4%/8%;
}

.divContainerForBackgroundColor {
  background-color: rgba(30, 119, 128, .9);
  height: fit-content;
  color: whitesmoke;
  padding: 20px;
}

.registerForm {
  border-radius: 8%/4%;
}

.loginForm {
  border-radius: 4%;
}

.hamburger {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  cursor: pointer;
  margin: 1vh 0 0 0;
}

.line {
  display: block;
  width: 7vw;
  height: .5vh;
  margin: .5vh 1vw;
  /* -webkit-transition: all 0.3s ease-in-out; */
  background-color: white;
}

@media screen and (min-device-width:425px) {
  .providerImage {
    height: 20vh;
    width: auto;
    /* width: 20vw; */
  }
}

@media screen and (min-device-width: 768px) {
  .headerImage {
    /* height: 30vh; */

  }

  .registerForm {
    border-radius: 5%;
  }

  .loginForm {
    border-radius: 4%/8%;
  }
}

