body {
  background-size: cover;
  height: '100%';
  font-family: 'Unbounded', cursive;
}

.headerDiv{
  display: block;
}

.hamburgerNav{
  display: none;
  background-color: #1E7780;
  margin-bottom: 5vh;
}

.providerCard {
  border: 5px solid #1E7780;
  height: 28vh;
  margin-bottom: 1.5vh;
}

.headerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 2vh 0;
  padding: 1vh 2vw;
  background-color: #1E7780;
}

.headerImage {
  width: 100%;
  height: 25vh;
  border-radius: 4%/8%;
}

.divContainerForBackgroundColor {
  background-color: rgba(30, 119, 128, .9);
  height: fit-content;
  color: whitesmoke;
  padding: 20px;
}

.registerForm {
  border-radius: 8%/4%;
}

.loginForm {
  border-radius: 4%;
}

.hamburger {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  cursor: pointer;
  margin: 1vh 0 0 0;
}

.line {
  display: block;
  width: 7vw;
  height: .5vh;
  margin: .5vh 1vw;
  background-color: white;
}

@media screen and (min-device-width:425px) {
  .providerImage {
    height: 20vh;
    width: auto;
    /* width: 20vw; */
  }
  .hamburgerNav{
    display: block;
  }
  .headerDiv{
    display: none;
  }
}

@media screen and (min-device-width: 768px) {
  .hamburgerNav{
    display: block;
  }
  .headerDiv{
    display: none;
  }

  .line{
    display: none;
  }

  .providerCard {
    height: 35vh;
  }

  .providerImage {
    height: 30vh;
  }

  .headerDiv {
    justify-content: flex-end;
  }

  .headerImage {
    height: 25vh;
    width: 30vw;
  }

  .registerForm {
    border-radius: 5%;
  }

  .loginForm {
    border-radius: 4%/8%;
  }
}